[build]
  base = "frontend/"
  command = "npm run build:prod"
  publish = "frontend/dist/frontend"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200